# Build Folders #
bin/
build/
libs/
target/
gen/
dllibs/
dllibss/
dllibsc/
/libraries_runtime/
/libraries_shade/

.externalToolBuilders/
 # Eclipse Files #
*.project
*.classpath
*.prefs
/.apt_generated/
*.factorypath

# Gradle
.gradle
.gradletasknamecache

# Netbeans
/.nb-gradle/

# IntelliJ
.idea/
*.iml