# Build Folders #
bin/
build/
target/
libs/
.externalToolBuilders/
 # Eclipse Files #
*.project
*.classpath
*.prefs
/.apt_generated/
*.factorypath

# Gradle
.gradle
.gradletasknamecache

# Netbeans
/.nb-gradle/

# IntelliJ
.idea/
*.iml
/dllibs/
classes/
